body{
    background-color: #E05831;
    height: 100vh;
    font-family: 'Sarpanch', sans-serif;
}

#title{
    font-size: 7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #E7ECEF;
    font-family: 'Black Ops One', cursive;
}

.points {
    background-color: #263BA5;
    color: #E7ECEF;
    margin: 0 15% 3% 15%;
    border: 4px solid #E7ECEF;
}

.points button {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #E7ECEF;
    color: #263BA5;
    border-radius: 5%;
    padding: 1% 2%;
}

.btn-light{
    margin: 2% 8.5%;
    background-color: #263BA5;
    color: #E7ECEF;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.winner {
    color: rgb(228, 74, 32);
}

.won {
    color: rgb(228, 74, 32);
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: -8%;
}

.modal-title{
    color: #E05831;
    font-family: 'Roboto Condensed', sans-serif;
}

.modal-content{
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}


.btn-dark {
    background-color: #263BA5;
}

button {
    margin: auto 4%;
    border: 1px solid transparent;
    background: white;
    color: black;
    padding: 10px 10px;
}

.hidden {
    display: none;
}

.points h1 {
    font-size: 12rem;
}

#gt, #bt {
    margin-left: 5%;
}

#span {
    display: none;
}